###############################################################################
# Define Device, Package And Speed Grade
###############################################################################
#CONFIG PART = XC5VFX70T-1FF1136;
CONFIG PART = 5vfx70tff1136-1;

NET "i_sclk_p" TNM_NET = TNM_SysClk;
TIMESPEC "TS_SysClk" = PERIOD "TNM_SysClk" 10 ns ;
NET  "i_sclk_p"   LOC = "L19";
NET  "i_sclk_p"   IOSTANDARD = LVDS_25;
NET  "i_sclk_n"   LOC = "K19";
NET  "i_sclk_n"   IOSTANDARD = LVDS_25;

# button "Center"
NET "i_rst" LOC = AJ6;
NET "i_rst" CLOCK_DEDICATED_ROUTE = "FALSE";
# jumpers


# UART1 interface
NET "i_uart1_ctsn" LOC = G10; # TODO: Wrong!!
NET "i_uart1_rd"   LOC = AG15;
NET "o_uart1_rtsn" LOC = F10; # TODO: Wrong!!
NET "o_uart1_td"   LOC = AG20;

# GPIO
NET "i_dip[0]"  LOC = U25 | IOSTANDARD=LVCMOS18 | PULLDOWN | SLEW=SLOW | DRIVE=2;   # DIP-0.
NET "i_dip[1]"  LOC = AG27 | IOSTANDARD=LVCMOS18 | PULLDOWN | SLEW=SLOW | DRIVE=2;   # DIP-1
NET "i_dip[2]"  LOC = AF25 | IOSTANDARD=LVCMOS18 | PULLDOWN | SLEW=SLOW | DRIVE=2;   # DIP-2
NET "i_dip[3]"  LOC = AF26 | IOSTANDARD=LVCMOS18 | PULLDOWN | SLEW=SLOW | DRIVE=2;   # DIP-3
#NET "i_dip[4]"  LOC = AE27;   # DIP-4
#NET "i_dip[5]"  LOC = AE26;   # DIP-5
#NET "i_dip[6]"  LOC = AC25;   # DIP-6
#NET "i_dip[7]"  LOC = AC24;   # DIP-7


# User's LEDs:
NET "o_led[0]" LOC = H18;
NET "o_led[1]" LOC = L18;
NET "o_led[2]" LOC = G15;
NET "o_led[3]" LOC = AD26;
NET "o_led[4]" LOC = G16;
NET "o_led[5]" LOC = AD25;
NET "o_led[6]" LOC = AD24;
NET "o_led[7]" LOC = AE24;

# Ethernet signals
NET "i_gmiiclk_p"             LOC = "P4";
NET "i_gmiiclk_n"             LOC = "P3";
NET "o_egtx_clk"              LOC = "J16";
NET "i_etx_clk"               LOC = "K17";
NET "i_erx_clk"               LOC = "H17";
NET "i_erxd(0)"               LOC = "A33";
NET "i_erxd(1)"               LOC = "B33";
NET "i_erxd(2)"               LOC = "C33";
NET "i_erxd(3)"               LOC = "C32";
NET "i_erx_dv"                LOC = "E32";
NET "i_erx_er"                LOC = "E33";
NET "i_erx_col"               LOC = "B32";
NET "i_erx_crs"               LOC = "E34";
NET "i_emdint"                LOC = "H20";
NET "o_etxd(0)"               LOC = "AF11";
NET "o_etxd(1)"               LOC = "AE11";
NET "o_etxd(2)"               LOC = "AH9";
NET "o_etxd(3)"               LOC = "AH10";
NET "o_etx_en"                LOC = "AJ10";
NET "o_etx_er"                LOC = "AJ9";
NET "o_emdc"                  LOC = "H19";
NET "io_emdio"                LOC = "H13";
NET "o_erstn"                 LOC = "J14";

NET "i_gmiiclk_p"            TNM_NET = "clk_gtx";
TIMESPEC "TS_gtx_clk"      = PERIOD "clk_gtx" 8000 ps HIGH 50 %;

NET "i_erx_clk"              TNM_NET  = "clk_rx";
TIMESPEC "TS_rx_clk"       = PERIOD "clk_rx" 40000 ps HIGH 50 %;

NET "i_etx_clk"              TNM_NET  = "clk_tx_mac";
TIMESPEC "TS_tx_clk_mii"   = PERIOD "clk_tx_mac" 40000 ps HIGH 50 %;
